#contact{
    background-color: black;
    & > div{
        margin: 0 40px;
    }
}
.contact-title{
    font-size: 60px;
    color: white;
    max-width: 500px;
    font-weight: 300;
    margin-bottom: 20px;
}
.contact-info{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
    & > *{
        margin-top: 0;
        margin-bottom: 10px;
        flex-grow: 1;
        color: white;
    }
}
footer{
    color: white;
}
@media only screen and (max-width: 800px){
    .contact-info{
        flex-direction: column;
    }
}